<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/choose_profile.css">
    <title>Welcome to Our Platform!</title>
</head>

<body>
    <%- include('include/navbar.ejs') %>
    <div class="container">
        <div class="intro-section">
            <h1>Welcome to Our Platform!</h1>
            <p>We're thrilled to have you join us on this educational journey. <br> To make your experience awesome, <br>we
                kindly ask you to take a moment to identify your role within our community <br> and choose the role that
                best describes you. <br> Thank you for being a part of our vibrant and dynamic community!</p>
        </div>

        <div class="profile-section">
            <h2>Discover Your User Profile</h2>
            <p>Please Select Your Role</p>

            <div class="profile-cards">
                <a href="/register-student" class="profile-card student">
                    <h3>Student</h3>
                    <p>Enhance Your Learning Experience</p>
                    <p class="details">Join interactive tutoring sessions, track your enrolled classes, share valuable feedback, and stay
                        updated with announcements .</p>
                </a>
                <a href="/register-teacher" class="profile-card teacher">
                    <h3>Teacher</h3>
                    <p>Empower Your Teaching Journey</p>
                    <p class="details">Explore job opportunities, manage your classes , receive feedback from students, and make
                        important announcements to keep students engaged.</p>
                </a>
                <a href="/register-school" class="profile-card govt-school">
                    <h3>Government School</h3>
                    <p>Efficient Education <br>Management</p>
                    <p class="details">Streamline teacher recruitment, manage staffing needs, make crucial announcements, and access teacher
                        profiles .</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
