<footer class="footer">
    <div class="social-media">
      <a href="#"><img src="../img/homepg/facebook-icon.jpg" alt="Facebook"></a>
      <a href="#"><img src="../img/homepg/twitter-icon.jpg" alt="Twitter"></a>
      <a href="#"><img src="../img/homepg/instagram-icon.jpg" alt="Instagram"></a>
      <a href="#"><img src="../img/homepg/linkedin-icon.jpg" alt="LinkedIn"></a>
    </div>
    <p>&copy; <%= new Date().getFullYear() %> EduConnect. All rights reserved.</p>
  </footer>
  