<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher registration</title>
    <link rel="stylesheet" href="css/login_regn_pg.css">
    <style>
        .form-container {
            height: 600px;
        }

        input {
            font-size: 9px;
        }

        input[type="submit"] {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <%- include('../include/navbar.ejs') %>
    <div class="container">
        <div class="form-container">
            <p>Create Teacher Account</p>
            <form action="register-teacher" method="post" class="registration-form">
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="qualification" placeholder="Qualification" required>
                <input type="text" name="teaching_experience" placeholder="Teaching Experience" required>
                <input type="tel" name="phone" placeholder="Phone Number" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="retype_password" placeholder="Retype Password" required>
                <input type="submit" value="SUBMIT">
            </form>
            <p>Already have an account? <a href="#">Login</a></p>
        </div>
    </div>
</body>

</html>