<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update School Profile</title>
    <link rel="stylesheet" href="css/login_regn_pg.css">
    <style>
        .form-container {
            height: 600px;
        }

        input {
            font-size: 9px;
        }

        input[type="submit"] {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <p>Update School Profile</p>
            <form action="/api/update-school-profile" method="post" class="update-form">
                <input type="text" name="school_name" placeholder="School Name" value="<%= school.schoolName %>" required>
                <input type="tel" name="phone" placeholder="Phone Number" value="<%= school.phoneNumber %>" required>
                <input type="email" name="email" placeholder="Email" value="<%= school.email %>" required>
                <input type="text" name="location" placeholder="Location" value="<%= school.location %>" required>
                <input type="password" name="password" placeholder="New Password">
                <input type="password" name="retype_password" placeholder="Retype New Password">
                <input type="submit" value="UPDATE">
            </form>
            <p>Return to <a href="/school-dashboard">Dashboard</a></p>
        </div>
    </div>
</body>

</html>
